*.pyc
*.DS_Store
dist/*.*
zha_quirks.egg-info/*.*
zha_quirks.egg-info/PKG-INFO
build/**/*.*
.vscode/settings.json
.tox
.idea/*
.coverage
htmlcov/
.mypycache
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
