ci:
  autofix_commit_msg: "Apply pre-commit auto fixes"
  autoupdate_commit_msg: "Auto-update pre-commit hooks"
  skip: [mypy]

repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies: [tomli]
        args: ["--toml", "pyproject.toml"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.12.1
    hooks:
      - id: mypy
  
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.0
    hooks:
      - id: ruff
        args: ["--fix", "--exit-non-zero-on-fix", "--config", "pyproject.toml"]
      - id: ruff-format
        args: ["--config", "pyproject.toml"]
