name: CI

on:
  push:
    branches:
      - dev
      - master
  pull_request: ~

jobs:
  shared-ci:
    uses: zigpy/workflows/.github/workflows/ci.yml@dm/use-precommit-in-ci 
    with:
      CODE_FOLDER: zhaquirks
      CACHE_VERSION: 2
      PYTHON_VERSION_DEFAULT: 3.9.15
      PRE_COMMIT_CACHE_PATH:  ~/.cache/pre-commit
      MINIMUM_COVERAGE_PERCENTAGE: 80
